################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SSRSReport/.vs/Report Project1/v16
/SSRSReport/bin/Debug
/SSRSReport/.vs/PAS_Reports/v16/.suo
